.mainApp {
  width: 200px;
  margin: 200px auto;
}

button {
  font-size: 30px;
  font-family: sans-serif;
  color: grey;
}
.buttonDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
}
h1 {
  text-align: center;
}
